@page "/Administration/Users"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Users</PageTitle>

<label>Filter:</label>
<input @bind="_filter" @bind:event="oninput" @bind:after="OnFilterChanged" />

<div class="quickgrid-std mb-3">
    <QuickGrid Items="@_filteredUsers">
      <PropertyColumn Title="Discord" Property="@(u => u.DiscordAccountName)" Sortable="true" IsDefaultSortColumn="true" InitialSortDirection="SortDirection.Ascending" />
      <PropertyColumn Title="Guild Wars" Property="@(u => u.GuildWarsAccountName)" Sortable="true"/>
      <TemplateColumn Title="Guild Member" Context="u" SortBy="@_gridSortIsGuildMember" Sortable="true">
         @if (u.IsGuildMember)
         {
            <span class="text-success">✔️</span>
         }
      </TemplateColumn>
      <TemplateColumn Title="API-Key" Context="u" SortBy="@_gridSortIsApiKeyValid" Sortable="true">
          @if (u.IsApiKeyValid)
          {
              <span class="text-success">✔️</span>
          }
      </TemplateColumn>
    </QuickGrid>
</div>