@inherits Scruffy.WebApp.Components.Base.LocatedComponent

<div class="navigation-menu">
    <AuthorizeView Roles="Member">
        <Authorized Context="MemberContext">
            <div class="navigation-menu-group">
                <div class="navigation-menu-header">@LocalizationGroup.GetText("Ranking", "Ranking")</div>
                <span class="navigation-menu-items">
                    <div class="navigation-menu-item">
                        <NavLink class="navigation-menu-link" href="/Ranking/Personal" Match="NavLinkMatch.Prefix">
                            @LocalizationGroup.GetText("Personal", "Personal")
                        </NavLink>
                    </div>
                    <div class="navigation-menu-item">
                        <NavLink class="navigation-menu-link" href="/Ranking/Top" Match="NavLinkMatch.Prefix">
                            @LocalizationGroup.GetText("Top", "Top")
                        </NavLink>
                    </div>
                </span>
            </div>
            <div class="navigation-menu-group">
                <div class="navigation-menu-header">@LocalizationGroup.GetText("Raid", "Raid")</div>
                <span class="navigation-menu-items">
                    <div class="navigation-menu-item">
                        <NavLink class="navigation-menu-link" href="/Raid/Participation" Match="NavLinkMatch.Prefix">
                            @LocalizationGroup.GetText("Participation", "Participation")
                        </NavLink>
                    </div>
                    <div class="navigation-menu-item">
                        <NavLink class="navigation-menu-link" href="/Raid/Roles" Match="NavLinkMatch.Prefix">
                            @LocalizationGroup.GetText("Roles", "Roles")
                        </NavLink>
                    </div>
                    <AuthorizeView Roles="PrivilegedMember">
                        <Authorized>
                            <div class="navigation-menu-item">
                                <NavLink class="navigation-menu-link" href="/Raid/LineUp" Match="NavLinkMatch.Prefix">
                                    @LocalizationGroup.GetText("LineUp", "Line up")
                                </NavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </span>
            </div>
            <div class="navigation-menu-group">
                <div class="navigation-menu-header">@LocalizationGroup.GetText("Logs", "Logs")</div>
                <span class="navigation-menu-items">
                    <div class="navigation-menu-item">
                        <NavLink class="navigation-menu-link" href="/DpsReports/Today" Match="NavLinkMatch.Prefix">
                            @LocalizationGroup.GetText("Today", "Today's")
                        </NavLink>
                    </div>
                </span>
            </div>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Administrator">
        <Authorized>
            <div class="navigation-menu-group">
                <div class="navigation-menu-header">
                    @LocalizationGroup.GetText("Administration", "Administration")
                </div>
                <span class="navigation-menu-items">

                    <div class="navigation-menu-item">
                        <NavLink class="navigation-menu-link" href="/Administration/Users" Match="NavLinkMatch.Prefix">
                            @LocalizationGroup.GetText("Users", "Users")
                        </NavLink>
                    </div>
                </span>
            </div>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Member">
        <Authorized>
            <div class="navigation-menu-group">
                <div class="navigation-menu-header">@LocalizationGroup.GetText("Development", "In Development")</div>
                <span class="navigation-menu-items">
                    <div class="navigation-menu-item">
                        <NavLink class="navigation-menu-link" href="/DpsReports/Search" Match="NavLinkMatch.Prefix">
                            Logs - @LocalizationGroup.GetText("Search", "Search")
                        </NavLink>
                    </div>
                </span>
            </div>
        </Authorized>
    </AuthorizeView>
</div>